@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* Styles for the scrollbar track */
::-webkit-scrollbar {
  width: 10px;
  /* Width of the scrollbar */
}

/* Styles for the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #a5a5a5;
  /* Color of the scrollbar thumb */
  border-radius: 10px;
  /* Rounded border radius */
}

/* Styles for the scrollbar track when hovered */
::-webkit-scrollbar-thumb:hover {
  background-color: #666BED;
  /* Color of the scrollbar thumb on hover */
}

/* Styles for the scrollbar track */
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  /* Color of the scrollbar track */
}